/* For WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

button{
	padding:10px;
  background:whitesmoke;
  width:100%;
  border-radius:5px;
  color:gray;
  fontWeight:bold;
  border:1px solid gainsboro;
  font-weight: bold;
}

.container{
	width:40%;
	padding:3%;
	z-index: 1;
}

.fitImage{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.otp{
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	margin-bottom:40px;
}
.otp input{
	width: 10%;
	border-bottom:2px solid black;
	text-align: center;
	outline: none;
}

@media screen and (max-width:900px){
	.container{
		width: 90%;
		padding: 5%;
	}
}