/* width */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: 'blue';
  width: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.fitImage{
	width:100%;
	height:100%;
	object-fit: cover;
}

.seperator{
	width: 3px;
	height: 18px;
	background: black;
}

.seperator-c{
	width: 1px;
	height: 18px;
	background: black;
}

button{
	padding: 8px;
	font-weight: bold;
	border-radius: 8px;
}

input{
	outline:none;
}

select{
	padding:10px;
	border-radius: 10px;
}

.login{
	background: white;
	color: blue;
	border:1px solid blue;
}

.register{
	background:blue;
	color: white;
	border:1px solid blue;
}

.content{
	width: 100%;
	display: flex;
	justify-content: center;
}
.containerContent{
	width: 70%;
}
.centerMenu{
	display: flex;
}
.flex_wrapp{
	flex-wrap: normal;
}
@media screen and (max-width:900px){
	.containerContent{
		width: 95%;
	}
	.centerMenu{
		display: none;
	}

	.flex_wrapp{
		flex-wrap: wrap;
	}
}