.fitImage{
	width: 100%;
	height:100%;
	object-fit: cover;
}

.product_title{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	font-size: 16px;
	font-weight: bold;
}

.product_price{
	display: flex;
	gap:10px;
	font-weight: bold;
	align-items: center;
	font-size: 11px;
}

.product_price .price_old{
	color:gray;
	font-size: 11px;
}

.product_rating{
	display: flex;
	align-items: center;
	gap:10px;
	font-weight: bold;
	color: gray;
}

.star{
	width:24px;
	height:24px;
}

.product_store{
	display: flex;
	gap:10px;
}

.market{
	width:24px;
	height:24px;
}

.dot{
	width: 6px;
	height: 6px;
	background: gray;
	border-radius: 50%;
}

.products_container{
	display: flex;
	margin-top: 20px;
	gap: 20px;
	flex-wrap: wrap;
	padding:10px;
	justify-content: center;
}
.details_container{
	display: flex;
	flex-direction: column;
	gap:8px;
	padding:10px;
}

.biglabel{
	font-size: 24px;
	font-weight: bold;
}
.bold{
	font-weight: bold;
}